body {
    background-color:#c3edea;
}
hr{
    border-style:dotted none none none;
    border-color:#abc2e8;
    border-width: 5px;
    width: 3%;
    
}
h1{color: #58b4ae;}
h3{color: #58b4ae;}